<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploader</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }} {{ form.hidden_tag() }} {{ form.photo.label }} {{
      form.photo }} {{ form.submit() }}
    </form>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploader</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Image Uploader</h1>
      <form id="upload-form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="image-upload">Choose Image:</label>
          <input
            type="file"
            id="image-upload"
            name="photo"
            accept="image/*"
            required
          />
        </div>
        <button type="submit">Upload</button>
      </form>
      <div id="preview"></div>
    </div>
    <script src="../script.js"></script>
  </body>
</html>
